<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KOAFORWPF.Properties.Settings.KUAFORConnectionString"
            connectionString="Data Source=KAYA\MSSQLSERVERKAYA;Initial Catalog=KUAFOR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KOAFORWPF.Properties.Settings.KUAFORLOGINConnectionString"
            connectionString="Data Source=KAYA\MSSQLSERVERKAYA;Initial Catalog=KUAFORLOGIN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KOAFORWPF.Properties.Settings.KUAFORConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\KUAFOR.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="KOAFORWPF.Properties.Settings.KUAFORLOGINConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\KUAFORLOGIN.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>